.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: black;
    padding-left: 120px;
    padding-right: 120px;
    height: 110px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;

    a {
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        color: grey;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        filter: invert(1);

        &:hover {
            color: rgb(32, 32, 32);
        }
    }

    img {
        height: 40px;
        margin-left: 32px;
        cursor: pointer;
    }
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whiteFooter {
    background-color: white;
}

/* Extra small devices (phones, 280px and down) */
@media only screen and (min-width: 280px) {
    .footer {
        flex-direction: column-reverse;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;

        img {
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    .footer-icons {
        display: flex;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
    }

    .link-container {
        align-items: flex-start;
    }
}