<div class="footer" [class.whiteFooter]="this.router.url == '/imprint' || this.router.url == '/data-protection'">
    <div class="link-container">
        <a routerLink="/imprint">Impressum - Legal notice</a>
        <a routerLink="/data-protection">Data Protection</a>
    </div>


    <div class="footer-icons">
        <a (click)="navigateTo('https://www.linkedin.com/in/christian-aidelsburger-b48158243/')"><img
                [class.darkModeIcons]="darkMode" src="/assets/img/socialmedia/linkedin-box-fill.png"
                alt="linked in"></a>
        <a (click)="navigateTo('https://github.com/Chris-Aid')"><img [class.darkModeIcons]="darkMode"
                src="/assets/img/socialmedia/github-fill.png" alt="github"></a>
        <a (click)="navigateTo('https://www.xing.com/profile/Christian_Aidelsburger2/cv')"><img
                [class.darkModeIcons]="darkMode" src="/assets/img/socialmedia/xing-fill.png" alt="xing"></a>
    </div>
</div>