<div class="footer">
    <div class="link-container">
        <a routerLink="/imprint">Impressum - Legal notice</a>
        <a routerLink="/data-protection">Data Protection</a>
    </div>


    <div class="footer-icons">
        <a href="https://www.linkedin.com/in/christian-aidelsburger-b48158243/"><img
                src="/assets/img/socialmedia/linkedin-box-fill.png" alt="linked in"></a>
        <a href="https://github.com/Chris-Aid"><img src="/assets/img/socialmedia/github-fill.png" alt="github"></a>
        <a href="https://www.xing.com/profile/Christian_Aidelsburger2/cv"><img src="/assets/img/socialmedia/xing-fill.png"
                alt="xing"></a>
    </div>
    <!-- <a href="https://www.flaticon.com/free-icons/down-chevron" title="down chevron icons">Down chevron icons created by Smashicons - Flaticon</a> -->
</div>