<div class="about-me-section">

    <div class="introduction">
        <img src="/assets/img/profile-picture.jpg" alt="profile picture">

        <div class="about-me-text">
            <h1>About me.</h1>

            <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Quas veritatis unde maxime fugit."</p>
        </div>

    </div>

    <div class="my-journey">
        <div class="first-box">
            <div class="my-journey-container">
                <div class="image-container">
                    <img src="/assets/img/walk-line.png" alt="walk image">
                </div>
                <div class="text-container">
                    <h2>MY JOURNEY BEGAN</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae, neque fugit laudantium aut
                        sit
                        optio pariatur nisi asperiores quia provident accusamus a hic. Deleniti illum perferendis soluta
                        nemo odit!</p>
                </div>

            </div>

            <div class="my-journey-container">
                <div class="image-container">
                    <img src="/assets/img/heart-line.png" alt="heart image">
                </div>
                <div class="text-container">
                    <h2>MY JOURNEY BEGAN</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae, neque fugit laudantium aut
                        sit
                        optio pariatur nisi asperiores quia provident accusamus a hic. Deleniti illum perferendis soluta
                        nemo odit!</p>
                </div>
            </div>
        </div>

        <div class="second-box">
            <div class="my-journey-container">
                <div class="image-container">
                    <img src="/assets/img/search-line.png" alt="search image">
                </div>
                <div class="text-container">
                    <h2>MY JOURNEY BEGAN</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae, neque fugit laudantium aut
                        sit
                        optio pariatur nisi asperiores quia provident accusamus a hic. Deleniti illum perferendis soluta
                        nemo odit!</p>
                </div>

            </div>

            <div class="my-journey-container">
                <div class="image-container">
                    <img src="/assets/img/flight-takeoff-line.png" alt="flight image">
                </div>
                <div class="text-container">
                    <h2>MY JOURNEY BEGAN</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae, neque fugit laudantium aut
                        sit
                        optio pariatur nisi asperiores quia provident accusamus a hic. Deleniti illum perferendis soluta
                        nemo odit!</p>
                </div>

            </div>
        </div>

    </div>

</div>