<div id="aboutMe" class="about-me-section">

    <div class="introduction">
        <img src="/assets/img/profile-picture.jpg" alt="profile picture">

        <div class="about-me-text">
            <!-- <h1>About me.</h1> -->

            <p>"Hey, I'm a Front-End developer based in Germany who loves doing sports and enjoys being in nature."</p>
        </div>

    </div>

    <div class="my-journey">
        <div class="first-box">
            <div id="myJourney-1" class="my-journey-container">
                <div class="image-container">
                    <img src="/assets/img/walk-line.png" alt="walk image">
                </div>
                <div class="text-container">
                    <h2>MY JOURNEY BEGAN</h2>

                    <p>when I wrote my first lines of code and implemented simple
                        websites with tutorials. I couldn't get enough of learning and understanding more and more. From
                        that point on, I dedicated all my focus to software development.</p>
                </div>

            </div>

            <div id="myJourney-2" class="my-journey-container">
                <div class="image-container">
                    <img src="/assets/img/heart-line.png" alt="heart image">
                </div>
                <div class="text-container">
                    <h2>I FELL IN LOVE WITH CODING</h2>

                    <p>and learned to create object-oriented programs and complex business applications. It fills me with joy to implement my ideas and develop projects with a creative mind and logical thinking.</p>
                </div>
            </div>
        </div>

        <div class="second-box">
            <div id="myJourney-3" class="my-journey-container">
                <div class="image-container">
                    <img src="/assets/img/search-line.png" alt="search image">
                </div>
                <div class="text-container">
                    <h2>I'M SEARCHING</h2>

                    <p>for a team to work together on exciting projects. I want to push my skills to the next level and
                        I'm willing to learn a lot to reach my goals and to keep on getting better.</p>
                </div>

            </div>

            <div id="myJourney-4" class="my-journey-container">
                <div class="image-container">
                    <img src="/assets/img/flight-takeoff-line.png" alt="flight image">
                </div>
                <div class="text-container">
                    <h2>MY GOAL</h2>

                    <p>is to become as good as I can and to learn as much as possible.
                        <br> <br>
                        Since there are no limits to coding, I'll do my best and enjoy the journey.
                    </p>
                </div>

            </div>
        </div>

    </div>

</div>