<div id="projects" class="my-work-container">
    <h1>PORTFOLIO</h1>
    <div class="my-projects">

        <div class="projectContainer">
            <div class="imageContainer">
                <img (click)="navigateTo('https://in-city-crm.christian-aidelsburger.de/')" class="crm"
                    src="/assets/img/projects/crm3.png" alt="">
            </div>

            <div class="projectDescription">
                <h2>
                    CRM-Application

                </h2>
                <p>
                    This is a crm-application for a city-marketing company. The application makes it easier to handle
                    customer data and speeds up certain work processes. The app has not yet been accomplished.</p>

                <div class="btnContainer">
                    <button (click)="navigateTo('https://in-city-crm.christian-aidelsburger.de/')">TRY OUT!</button>
                    <button (click)="navigateTo('https://github.com/Chris-Aid/IN-City-CRM')">GITHUB</button>
                </div>

            </div>

        </div>
        <div class="projectContainer">

            <div (click)="navigateTo('https://ring-of-fire.christian-aidelsburger.de/')" class="imageContainer">
                <img class="rof" src="/assets/img/projects/rof.png" alt="">
            </div>

            <div class="projectDescription">
                <h2>
                    Ring of Fire
                </h2>
                <p>Ring of Fire is a angular based card game that brings friends together even in times of corona
                    and
                    lockdowns.
                </p>

                <div class="btnContainer">
                    <button (click)="navigateTo('https://ring-of-fire.christian-aidelsburger.de/')">TRY OUT!</button>
                    <button (click)="navigateTo('https://github.com/Chris-Aid/ringoffire')">GITHUB</button>
                </div>
            </div>
        </div>
        <div class="projectContainer">

            <div (click)="navigateTo('https://join.christian-aidelsburger.de/')" class="imageContainer">
                <img class="join" src="/assets/img/projects/join1.png" alt="">
            </div>

            <div class="projectDescription">

                <h2>
                    Join
                </h2>
                <p>Join is a kanban-based management tool that helps you distribute tasks within the team.</p>

                <div class="btnContainer">
                    <button (click)="navigateTo('https://join.christian-aidelsburger.de/')">TRY OUT!</button>
                    <button (click)="navigateTo('https://github.com/SabineDetering/Join')">GITHUB</button>
                </div>
            </div>
        </div>
        <div class="projectContainer">

            <div (click)="navigateTo('https://el-pollo-loco.christian-aidelsburger.de/')" class="imageContainer">
                <img class="polloLoco" src="/assets/img/projects/el-pollo-loco3.png" alt="">
            </div>

            <div class="projectDescription">
                <h2>
                    El Pollo Loco
                </h2>
                <p>El Pollo Loco is a small object-oriented Jump & Run Game, just give it a try! :)
                </p>

                <div class="btnContainer">
                    <button (click)="navigateTo('https://el-pollo-loco.christian-aidelsburger.de/')">TRY OUT!</button>
                    <button (click)="navigateTo('https://github.com/Chris-Aid/El_Pollo_Loco')">GITHUB</button>
                </div>
            </div>
        </div>
    </div>
</div>