.my-work-container {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-weight: 500;
    }
}

.button-container {
    display: flex;
    gap: 12px;

    button {
        box-sizing: border-box;
        background-color: rgb(0, 0, 0);
        border: 2px solid #FA2759;
        color: white;
        width: 128px;
        height: 70px;

        &:hover {
            box-shadow: 0px 2px 2px #FA2759;
            cursor: pointer;
        }
    }
}

.my-projects {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.clickedButton {
    background-color: #FA2759;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 340px) {

    .my-projects {
        img {
            width: 324px;

            &:hover {
                box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
                cursor: pointer;
            }
        }

    }

    .my-work-container {
        h1 {
            margin-top: 32px;
            margin-bottom: 16px;
        }
    }

    .button-container {
        button {
            width: 100px;
            height: 50px;
        }

    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 340px) {

    .my-projects {
        img {
            width: 324px;

            &:hover {
                width: 326px;
                box-shadow:  rgba(221, 221, 221, 0.596) 0px 5px 15px;
                cursor: pointer;
            }
        }
    }

    .my-work-container {
        h1 {
            margin-top: 32px;
            margin-bottom: 16px;
        }
    }

    .button-container {
        button {
            width: 100px;
            height: 50px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .my-projects {
        width: 100%;

        img {
            width: 270px;

            &:hover {
                width: 272px;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .my-projects {
        width: 90%;

        img {
            width: 320px;

            &:hover {
                width: 322px;
            }
        }
    }

    .button-container {
        button {
            width: 130px;
            height: 70px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .my-projects {
        width: 70%;

        img {
            width: 320px;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .my-projects {
        img {
            width: 360px;

            &:hover {
                width: 362px;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {}

/* Extra large devices (large desktops, 1650px and up) */
@media only screen and (min-width: 1650px) {
    .my-projects {
        width: 60%;

        img {
            width: 400px;

            &:hover {
                width: 402px;
            }
        }
    }
}