.my-work-container {
    background-color: #080808;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 32px;
    padding-top: 32px;

    h1 {
        font-size: 64px;
    }
}


.my-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.imageContainer {
    cursor: pointer;
    width: 500px;
    display: flex;
    justify-content: center;
}

.crm {
    width: 450px;
    margin-left: -58px;
}

.join {
    width: 470px;
}

.polloLoco {
    width: 585px;
    margin-left: 15px;
}

.rof {

    width: 530px;
    margin-left: 48px;

}

.projectContainer {
    display: flex;
    gap: 128px;
}

.btnContainer {
    margin-top: 64px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 32px;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-top: 48px;

    h2 {
        text-align: center;
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    button {
        width: 120px;
        height: 30px;
        margin-top: 32px;
        cursor: pointer;
        color: #eeba2b;
        box-sizing: border-box;
        background-color: black;
        font-size: 13px;
        border: 2px solid #eeba2b;

        &:hover {
            background-color: #eeba2b;
            color: white;
        }
    }
}

/* Extra small devices (phones, 280px and down) */
@media only screen and (min-width: 280px) {
    .projectContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 32px;
    }

    .projectDescription {
        width: 90vw;
        padding-top: 32px;
        align-items: center;
    }

    .btnContainer {
        margin-top: 0;
    }

    .imageContainer {
        width: auto;
    }

    .crm {
        width: 70vw;
        margin-left: -24px;
    }

    .rof {
        width: 80vw;
        margin-left: 53px;
    }

    .join {
        width: 70vw;
        margin-left: 20px;
    }

    .polloLoco {
        width: 90vw;
        margin-left: 22px;
    }
}

/* Extra small devices (phones, 360px and down) */
@media only screen and (min-width: 450px) {

    .projectDescription {
        width: 400px;
    }

    .crm {
        width: 70vw;
        margin-left: -24px;
    }

    .rof {
        width: 80vw;
        margin-left: 65px;
    }

    .join {
        width: 70vw;
        margin-left: 20px;
    }

    .polloLoco {
        width: 90vw;
        margin-left: 36px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .crm {
        width: 70vw;
        margin-left: -31px;
    }

    .rof {
        width: 80vw;
        margin-left: 92px;
    }

    .join {
        width: 70vw;
        margin-left: 29px;
    }

    .polloLoco {
        width: 90vw;
        margin-left: 51px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .crm {
        width: 480px;
        margin-left: -31px;
    }

    .rof {
        width: 560px;
        margin-left: 109px;
    }

    .join {
        width: 500px;
        margin-left: 37px;
    }

    .polloLoco {
        width: 620px;
        margin-left: 69px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .projectContainer {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

    }

    .projectDescription {
        width: 30vw;
        padding-top: 48px;

        p {
            width: 400px;
        }
    }

    .my-projects {
        margin-top: 96px;
    }

    .imageContainer {
        width: 500px;
    }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    .projectContainer {
        gap: 96px;
    }

    .my-work-container {
        background-color: #080808;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 32px;
        padding-top: 32px;

        h1 {
            font-size: 64px;
        }
    }


    .my-projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        margin-top: 32px;
    }
}

