<div id="projects" class="my-work-container">
    <h1>My work</h1>
    <div class="button-container">
        <button onclick="changeColor('all')" id="all">All</button>
        <button onclick="changeColor('angular')" id="angular">Angular</button>
        <button onclick="changeColor('JS')" id="JavaScript">Java Script</button>
    </div>

    <div class="my-projects">

        <img src="./assets/img/join.png" alt="Join">
        <img src="./assets/img/ElPolloLoco1.png" alt="El POllo Loco">
        <img src="./assets/img/laptop.jpg" alt="laptop">
        <img src="./assets/img/tablet.jpg" alt="tablet">

    </div>

</div>