<header [class.headerDark]="darkMode">

    <img *ngIf="!darkMode" routerLink="/" src="./assets/img/logo.png" alt="myLogo">
    <img *ngIf="darkMode" routerLink="/" src="./assets/img/logoBlack.png" alt="myLogo">

    <div [class.darkLinks]="darkMode">
        <a routerLink="/">HOME</a>
        <a routerLink="/">ABOUT</a>
        <a routerLink="/">PORTFOLIO</a>
        <!-- <a routerLink="/data-protection">Data Protection</a> -->
        <!-- <a routerLink="/projects">Projects</a>
        <a routerLink="/currilculum">Currilculum</a> -->
        
    </div>
</header>