header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

    img {
        height: 60px;
        cursor: pointer;
    }

    .DarkMode {
        filter: invert(1);
    }

    a {
        text-decoration: none;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: rgb(185, 183, 183);
        }
    }

    button {
        outline: none;
        border-radius: 2px;
        box-shadow: none;
        border: 0;
        z-index: 100000;

        &:focus {
            border: 1px solid white;
        }
    }
}

.headerBackground {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #080808;
    z-index: -1233;
}

.menu-img {
    height: 42px !important;
}

.darkLinks {
    a {
        color: black;
    }

    &:hover {
        color: rgb(51, 51, 51);
    }
}

.headerDark {
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.mat-menu-content {
    position: absolute;
    top: 60px;
    right: 5px;
    z-index: 12;
}

/* Extra small devices (phones, 280px and down) */
@media only screen and (min-width: 280px) {

    .headerBackground {
        width: 100vw;
    }

    .menu-img {
        height: 35px !important;
    }

    header {
        padding-left: 12px;
        padding-right: 12px;

        a {
            font-size: 14px;
            margin-left: 12px;
        }

        img {
            height: 45px;
        }
    }

    .mat-menu-content {
        padding-right: 32px;
    }

    .links {
        display: none;
    }

    .navbar {
        position: absolute;
        right: 15px;
    }

    .navbar-toggler-icon {
        height: 25px !important;
        width: 20px !important;
    }

    .nav-link {
        padding-top: 100px;
        display: flex;
        margin-right: -55px;
    }

    .bg-dark {
        --bs-bg-opacity: 0 !important;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .navbar>.container-fluid {
        justify-content: flex-end !important;
        flex-wrap: unset !important;
        flex-direction: row-reverse;
        gap: 12px;
    }

    .dropdown-item {
        width: auto !important;
    }
}

/* Extra small devices (phones, 360px and down) */
@media only screen and (min-width: 360px) {

    header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    header {

        a {
            font-size: 16px;
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mat-menu-content {
        padding-right: 68px;
    }

    .navbar {
        right: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .links {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .menu-img {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .headerBackground {
        width: 60vw;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    header {
        padding-left: 128px;
        padding-right: 128px;
    }
}