<header [class.headerDark]="darkMode">

    <img *ngIf="!darkMode" routerLink="/" src="./assets/img/logo.png" alt="myLogo">
    <img *ngIf="darkMode" routerLink="/" src="./assets/img/logoBlack.png" alt="myLogo">

    <div class="links" [class.darkLinks]="darkMode">
        <a routerLink="/">HOME</a>
        <a routerLink="/">ABOUT</a>
        <a routerLink="/">PORTFOLIO</a>
        <!-- <a routerLink="/data-protection">Data Protection</a> -->
        <!-- <a routerLink="/projects">Projects</a>
        <a routerLink="/currilculum">Currilculum</a> -->
        
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>