.contact-me-section {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;

    h1 {
        font-size: 64px;
        color: #2DFCD8;
        margin: 0;
        margin-bottom: 20px !important
    }

    p {
        margin-bottom: 12px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

        input {
            width: 100%;
            height: 40px;
            margin-bottom: 12px;
            background-color: #1A1A1A;
            padding-left: 12px;
            font-family: 'Inter', sans-serif;
            color: white;
            border: none;
            resize: none;
            outline: none;
        }

        textarea {
            width: 100%;
            height: 180px;
            background-color: #1A1A1A;
            padding-left: 12px;
            padding-top: 12px;
            font-family: 'Inter', sans-serif;
            color: white;
            border: none;
            resize: none;
            outline: none;
        }
    }
}

.contact-me-text {
 width: 100%;

 span {
    color: #2DFCD8;
    opacity: 1 !important;
    padding: 0;
    font-size: 14px;
    display: initial;
}
}

.sec {
    opacity: 0;
}

.animateContact {
    animation: animateForm 3s ease;
    opacity: 1;
}

@keyframes animateForm {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Extra small devices (phones, 280px and down) */
@media only screen and (min-width: 280px) {

    .submit-area {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .mail-form {
        width: 100%;
        margin-right: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 48px;
            // width: 85vw;
        }

        p {
            font-size: 14px;
            // width: 85vw;
        }

        button {
            color: #2DFCD8;
            box-sizing: border-box;
            background-color: black;
            margin-bottom: 32px;
            margin-top: 12px;
            width: 200px;
            height: 50px;
            font-size: 18px;
            border: 2px solid #2DFCD8;

            &:hover {
                background-color: #2DFCD8;
                color: white;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .content{
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    .content {

        // h1 {
        //     font-size: 48px;
        //     width: 65vw;
        // }

        // p {
        //     font-size: 16px;
        //     width: 65vw;
        // }

        // span {
        //     color: #2DFCD8;
        // }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .content{
        width: 60%;
    }
}


/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {

    .content{
        width: 50%;
    }
}

/* Extra large devices (large desktops, 1650px and up) */
@media only screen and (min-width: 1650px) {

    .content{
        width: 40%;
    }
}