canvas {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.intro-content {
    display: flex;


    img {
        object-fit: cover;
        border-radius: 100%;
        z-index: 1000;
    }
}

.intro-text {
    position: relative;
}

.scrollDownArrow {
    width: 100%;
    position: absolute;
    bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 40px;
        cursor: pointer;

        &:hover {
            filter: brightness(0.8);
        }
    }
}

.wholeContent {
    display: flex;
    flex-direction: column;
    position: absolute;

    button {
        display: none;
        cursor: pointer;
        color: #2DFCD8;
        box-sizing: border-box;
        background-color: black;
        font-size: 18px;
        border: 2px solid #2DFCD8;
        z-index: 232424525;
        opacity: 1;

        &:hover {
            background-color: #2DFCD8;
            color: white;
        }
    }
}

.dot {
    background-color: white;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    transform: translateY(0);
    bottom: 0;
}

.forms {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.geometric-froms {
    position: absolute;
    height: 20px;
    left: 10px;
    opacity: 1;
}


@keyframes movingForm {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-700px);
        height: 40px;
        opacity: 0;
    }
}

.new-box {

    width: 100vw;
    position: relative;
}


.animateIntro {
    animation: movediv 3s ease;
}

@keyframes movediv {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1000px);
    }
}

/* Extra small devices (phones, 340px and down) */
@media only screen and (min-width: 280px) {
    .intro-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;

        h2 {
            font-size: 32px;
            margin: 0;
            z-index: 232424525;
        }

        img {
            height: 210px;
            width: 210px;
        }
    }

    .wholeContent {
        align-items: center;
        top: 135px;
        padding-left: 12px;
        padding-right: 12px;

        button {
            height: 80px;
            width: 170px;
        }

        img {
            margin-bottom: 24px;
        }
    }

    .buttonAndText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wholeContent {

        h1 {
            font-size: 48px;
        }

        button {
            width: 300px;
            height: 90px;
            font-size: 22px;
            margin-top: 32px;
        }
    }

    .intro-content {

        img {
            height: 300px;
            width: 300px;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    // .wholeContent {

    //     h2 {
    //         font-size: 52px;
    //         margin-top: 16px;
    //         line-height: 65px;
    //     }
    // }

    // .intro-content {

    //     img {
    //         height: 330px;
    //         width: 330px;
    //     }
    // }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .introduction {

        h2 {
            margin-top: 0;
        }
    }

    .wholeContent {
        top: 300px;

        img {
            display: none;
        }
    }

    .buttonAndText {
        align-items: flex-start;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .intro-content {
        justify-content: space-between;
        flex-direction: row;
        padding-left: 100px;
        padding-right: 100px;
    }

    .wholeContent {
        align-items: flex-start;
    }
}

/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1300px) {
    .intro-content {
        justify-content: space-between;
        flex-direction: row;
        padding-left: 120px;
        padding-right: 160px;


        h2 {
            font-size: 64px;
        }
    }

    .wholeContent {
        align-items: flex-start;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .intro-content {
        padding-left: 120px;
        padding-right: 220px;

        img {
            height: 400px;
            width: 400px;
        }
    }

    .wholeContent {
        align-items: flex-start;

        button {
            margin-top: 60px;
        }
    }
}

/* Extra large devices (large desktops, 1650px and up) */
@media only screen and (min-width: 1650px) {
    .intro-content {
        padding-left: 150px;
        padding-right: 280px;

        img {
            height: 450px;
            width: 450px;
        }
    }
}

// following Queries are for some specific screens
@media only screen and (max-width: 340px) and (max-width: 600px) and (min-height: 780px) {

    .intro-content {
        img {
            height: 250px;
            width: 250px;
        }
    }

    .wholeContent {
        margin-top: 48px;
        gap: 12px;
        gap: 12px;
    }
}

/* Extra small devices (phones, 340px and up) */
@media only screen and (min-width: 340px) and (max-width: 600px) and (min-height: 780px) {

    .intro-content {
        img {
            height: 250px;
            width: 250px;
        }
    }

    .wholeContent {
        margin-top: 48px;
        gap: 12px;
        gap: 12px;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 940px) and (max-device-height: 500px) and (orientation: landscape) {

    .buttonAndText {
        align-items: flex-start;
    }

    .intro-content {
        img {
            height: 220px;
            width: 220px;
        }
    }

    .wholeContent {
        align-items: flex-start;
        flex-direction: row-reverse;
        justify-content: space-between;
        top: 135px;
        width: 75vw;

        button {
            height: 70px;
            width: 150px;
            margin: 0;
        }

        img {
            margin-bottom: 24px;
        }
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 750px) and (max-device-height: 500px) and (orientation: landscape) {

    .buttonAndText {
        align-items: flex-start;
    }

    .intro-content {
        img {
            height: 200px;
            width: 200px;
        }
    }

    .wholeContent {
        align-items: flex-start;
        flex-direction: row-reverse;
        justify-content: space-between;
        top: 120px;
        width: 80vw;

        button {
            height: 70px;
            width: 150px;
            margin: 0;
        }

        img {
            margin-bottom: 24px;
        }
    }
}