.introduction {
    background-color: black;
    color: white;
    height: 100vh;
    overflow: hidden;

    p {
        display: inline;
        color: #2DFCD8;
    }

    // span {
    //     display: inline-block;
    //     opacity: 0 !important;
    //     transition: all 10s ease-in-out;
    //     transform: translateY(50px);

    // }

    // span.face {
    //     opacity: 1;
    //     transform: translateY(0px);
    // }

    button {
        display: none;
        cursor: pointer;
        color: #2DFCD8;
        box-sizing: border-box;
        background-color: black;
        margin-top: 98px;
        font-size: 18px;
        border: 2px solid #2DFCD8;
        z-index: 232424525;
        opacity: 1;

        &:hover {
            background-color: #2DFCD8;
            color: white;
        }
    }
}

// .face {
//     opacity: 1;
//     transform: translateY(0px);
// }

.intro-content {
    display: flex;


    img {
        object-fit: cover;
        border-radius: 100%;
        z-index: 1000;
    }
}

.intro-text {
    position: relative;
}

.scrollDownArrow {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    filter: invert(100%);

    img {
        height: 50px;
        width: 50px;
        cursor: pointer;
        animation: scrollDown 1.5s linear infinite;
    }
}

@keyframes scrollDown {

    70% {
        opacity: 0.3;
        transform: translateY(0px);
    }

    80% {
        opacity: 0.8;
        transform: translateY(5px);
    }

    90% {
        opacity: 0.8;
        transform: translateY(0px);
    }

    100% {
        opacity: 0.8;
        transform: translateY(5px);
    }
}

.textAndButton {
    display: flex;
    flex-direction: column;
}

.dot {
    background-color: white;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    transform: translateY(0);
    bottom: 0;


}

.forms {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.geometric-froms {
    position: absolute;
    // bottom: 30px;
    height: 20px;
    left: 10px;
    // animation: movingForm 5s infinite ease-in-out;
    opacity: 1;
}


@keyframes movingForm {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-700px);
        height: 40px;
        opacity: 0;
    }
}

.new-box {

    width: 100vw;
    position: relative;
}

.hide-into {
    background-color: black;
    height: 65px;
    width: 700px;
    position: absolute;
    z-index: 324345;
}

.hide-into2 {
    background-color: black;
    height: 65px;
    width: 700px;
    position: absolute;
    top: 70px;
    z-index: 324345;
}

.hide-into3 {
    background-color: black;
    height: 65px;
    width: 700px;
    position: absolute;
    top: 135px;
    z-index: 324345;
}

.hide-into4 {
    background-color: black;
    height: 200px;
    width: 430px;
    position: absolute;
    top: 220px;
    z-index: 324349995;
}


.animateIntro {
    animation: movediv 3s ease;
}

@keyframes movediv {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1000px);
    }
}

/* Extra small devices (phones, 340px and down) */
@media only screen and (max-width: 340px) {
    .intro-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 110px;

        button {
            margin-top: 32px;
        }

        h2 {
            font-size: 32px;
            margin: 0;
            z-index: 232424525;
        }

        img {
            height: 210px;
            width: 210px;
        }
    }

    .textAndButton {
        align-items: center;
    }

    .hide-into1 {
        height: 32px;
    }

    .hide-into2 {
        height: 36px;
        top: 32px;
    }

    .hide-into3 {
        height: 49px;
        top: 66px;
    }

    .hide-into4 {
        height: 150px;
        top: 112px;
    }
}

/* Extra small devices (phones, 340px and up) */
@media only screen and (min-width: 340px) {
    .intro-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 110px;

        button {
            margin-top: 32px;
        }

        h2 {
            font-size: 32px;
            margin: 0;
            z-index: 232424525;
        }

        img {
            height: 210px;
            width: 210px;
        }
    }

    .textAndButton {
        align-items: center;
    }

    .hide-into1 {
        height: 32px;
    }

    .hide-into2 {
        height: 36px;
        top: 32px;
    }

    .hide-into3 {
        height: 49px;
        top: 66px;
    }

    .hide-into4 {
        height: 150px;
        top: 112px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .introduction {

        h1 {
            font-size: 48px;
        }

        button {
            width: 400px;
            height: 100px;
            font-size: 22px;
        }
    }

    .intro-content {

        img {
            height: 300px;
            width: 300px;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .introduction {

        h2 {
            font-size: 52px;
            margin-top: 16px;
            line-height: 65px;
        }

        button {
            margin-top: 32px;
        }
    }

    .intro-content {

        img {
            height: 330px;
            width: 330px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .introduction {

        h2 {
            margin-top: 0;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .intro-content {
        justify-content: space-between;
        flex-direction: row;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 250px;
    }

    .textAndButton {
        align-items: flex-start;
    }
}

/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1300px) {
    .intro-content {
        justify-content: space-between;
        flex-direction: row;
        padding-left: 120px;
        padding-right: 160px;


        h2 {
            font-size: 64px;
        }
    }

    .textAndButton {
        align-items: flex-start;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .intro-content {
        padding-left: 120px;
        padding-right: 220px;

        img {
            height: 400px;
            width: 400px;
        }
    }

    .textAndButton {
        align-items: flex-start;

        button {
            margin-top: 60px;
        }
    }
}

/* Extra large devices (large desktops, 1650px and up) */
@media only screen and (min-width: 1650px) {
    .intro-content {
        padding-left: 150px;
        padding-right: 280px;
        padding-top: 250px;

        img {
            height: 450px;
            width: 450px;
        }
    }
}

// following Queries are for some specific screens

@media only screen and (max-width: 340px) and (max-width: 600px) and (min-height: 780px) {

    .intro-content {
        img {
            height: 250px;
            width: 250px;
        }
    }

    .textAndButton {
        margin-top: 48px;
        gap: 12px;
        gap: 12px;
    }
}

/* Extra small devices (phones, 340px and up) */
@media only screen and (min-width: 340px) and (max-width: 600px) and (min-height: 780px) {

    .intro-content {
        img {
            height: 250px;
            width: 250px;
        }
    }

    .textAndButton {
        margin-top: 48px;
        gap: 12px;
        gap: 12px;
    }

}

.initials {
    h3 {
        transform: rotate(-15deg);
        font-family: 'Rubik Dirt', cursive;
        color: #FA2759;
        font-size: 300px;
    }
}