canvas {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.textBackground {
    height: 100vh;
    width: 60vw;
    position: absolute;
    right: 0;
    background-color: #181823;
    // z-index: -1000;
}

.image-backgorund {
    position: absolute;
    top: 0;
    background-color: #afc2cf1e;
    height: 100vh;
    width: 60vw;
}

.about-me-text {
    display: block !important;
    color: white;
    font-size: 22px;
    margin-left: 120px;
    margin-top: 30px;
    z-index: 2000;
    width: 600px;
    line-height: 30px;
}

.hideText {
    display: none;
}

.intro-content {
    display: flex;

    button {
        display: none;
        cursor: pointer;
        color: #2DFCD8;
        box-sizing: border-box;
        background-color: black;
        font-size: 18px;
        border: 2px solid #2DFCD8;
        z-index: 232424525;
        opacity: 1;

        &:hover {
            background-color: #2DFCD8;
            color: white;
        }
    }
}

.introduction {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.intro-text {
    position: relative;

    z-index: 12;

}

.scrollDownArrow {
    width: 100%;
    position: absolute;
    bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 40px;
        cursor: pointer;

        &:hover {
            filter: brightness(0.8);
        }
    }
}

.dot {
    background-color: white;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    transform: translateY(0);
    bottom: 0;
}

.forms {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.geometric-froms {
    position: absolute;
    height: 20px;
    left: 10px;
    opacity: 1;
}


@keyframes movingForm {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-700px);
        height: 40px;
        opacity: 0;
    }
}

.new-box {

    width: 100vw;
    position: relative;
}


.animateIntro {
    animation: movediv 3s ease;
}

@keyframes movediv {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1000px);
    }
}

/* Extra small devices (phones, 340px and down) */
@media only screen and (min-width: 280px) {

    .intro-content {
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;

        h2 {
            font-size: 32px;
            margin: 0;
            z-index: 232424525;
        }

        img {
            height: auto;
            width: 95vw;
            z-index: 12;

            // border-radius: 100%;
            // box-shadow: #2dfcd8 2px 3px 4px;
        }


        button {
            width: 300px;
            height: 90px;
            font-size: 22px;
        }
    }

    .about-me-text {
        font-size: 16px;
        margin-left: 0px;
        margin-top: 20px;
        width: 90vw;
    }

    .textBackground {
        width: 100vw;
    }

    .buttonAndText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        height: 40vh;
    }
}


/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 400px) {

    .about-me-text {
        width: 75vw;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .about-me-text {
        width: 500px;
    }

    .intro-content {

        img {
            margin-top: 64px;
            width: 60vw;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .intro-text {
        h1 {
            margin-top: -120px;
        }
    }

    .intro-content {

        img {
            margin-top: 140px;
            width: 650px;
        }
    }

    .introduction {

        h2 {
            margin-top: 0;
        }
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .intro-content {
        flex-direction: row;

        img {
            border-radius: unset;
            width: 50vw;
            height: auto;
            margin: 0;
        }
    }

    .buttonAndText {
        margin-left: -100px;
        align-items: flex-start;
        height: 50vh;
    }

    .intro-text {
        h1 {
            margin: 0;
        }
    }

    .about-me-text {
        font-size: 22px;
        margin-left: 120px;
        margin-top: 30px;
        width: 600px;
        line-height: 30px;
    }

    .textBackground {
        width: 60vw;
        background-color: #181823;
    }

}

/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1300px) {
    .intro-content {
        flex-direction: row;

        h2 {
            font-size: 64px;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {

    .intro-content {
        button {
            margin-top: 60px;
        }
    }
}

// following Queries are for some specific screens
@media only screen and (max-width: 340px) and (max-width: 600px) and (min-height: 780px) {

    .intro-content {
        img {
            height: auto;
            width: 95vw;
        }
    }
}

/* Extra small devices (phones, 340px and up) */
@media only screen and (min-width: 340px) and (max-width: 600px) and (min-height: 700px) {

    .intro-content {
        img {
            height: auto;
            width: 95vw;
        }

        button {
            margin-top: 32px !important;
        }
    }

    .introduction {
        padding-top: 46px;
    }

}

@media only screen and (min-device-width: 666px) and (max-device-width: 940px) and (max-device-height: 500px) and (orientation: landscape) {

    .intro-content {
        flex-direction: row;
    }

    .buttonAndText {
        margin-left: -50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 32px;
        height: 48vh;
    }

    .intro-content {
        img {
            height: auto;
            width: 45vw;
        }

        button {
            height: 70px;
            width: 150px;
            margin: 0;
        }
    }

}

@media only screen and (min-device-width: 480px) and (max-device-width: 750px) and (max-device-height: 500px) and (orientation: landscape) {
    .intro-content {
        button {
            height: 45px;
            width: 150px;
            margin: 0;
        }
    }
}


/* Query for tablets) */
@media only screen and (min-width: 992px) and (max-height: 850px) {
    .wholeContent {
        top: 165px;
    }
}