<div class="SectionContainer">
    <div id="home" class="introduction">
        <div class="intro-content">
            <div class="textAndButton">
                <div class="intro-text">
                    <h1 class="my-introduction">
                        Hi,I'm&nbsp;Chris&nbsp;Aidelsburger,Front-End&nbsp;developer
                    </h1>
                </div>

                <button id="contactButton" onclick="location.href='#contactMe'">Contact me</button>
            </div>
        </div>

        <div class="scrollDownArrow">
            <img onclick="location.href='#mySkills'" src="./assets/img/down-arrow.png" alt="arrow-down">
        </div>

        <div class="forms">

            <!-- <img *ngFor="let _ of [].constructor(1); let i = index" [ngStyle]="randomNumber(i, 1)"
                class="geometric-froms" src="/assets/img/dot1.png" alt="geometric-form"> -->
            <!-- <img *ngFor="let _ of [].constructor(8); let i = index" [ngStyle]="randomNumber(i, 2)" class="geometric-froms" src="/assets/img/dot3.png" alt="geometric-form">
            <img *ngFor="let _ of [].constructor(8); let i = index" [ngStyle]="randomNumber(i, 3)" class="geometric-froms" src="/assets/img/dot2.png" alt="geometric-form"> -->

            <!-- <img *ngFor="let _ of [].constructor(8)" style="animation: movingForm 1s infinite ease-in-out;" [ngStyle]="randomNumber()" class="geometric-froms" src="/assets/img/dot1.png" alt="geometric-form">
            <img *ngFor="let _ of [].constructor(8)" style="animation: movingForm 1s infinite ease-in-out;" [ngStyle]="randomNumber()" class="geometric-froms" src="/assets/img/dot3.png" alt="geometric-form">
            <img *ngFor="let _ of [].constructor(8)" style="animation: movingForm 1s infinite ease-in-out;" [ngStyle]="randomNumber()" class="geometric-froms" src="/assets/img/dot2.png" alt="geometric-form"> -->
        </div>

    </div>

    <app-my-skills class="section"></app-my-skills>
    <app-my-work class="section"></app-my-work>
    <app-about-me class="section"></app-about-me>
    <app-contact-me class="section"></app-contact-me>


</div>