<div class="SectionContainer">

    <canvas id="canvas" class="canvas">

    </canvas>
    <!-- <div id="home" class="introduction"> -->
        <div class="intro-content">
            <div class="textAndButton">
                <div class="intro-text">
                    <h1 class="my-introduction">
                        Hi,I'm&nbsp;Chris&nbsp;Aidelsburger,Front-End&nbsp;developer
                    </h1>
                </div>

                <button id="contactButton" onclick="location.href='#contactMe'">Contact me</button>
            </div>
        </div>

        <div class="scrollDownArrow">
            <img onclick="location.href='#mySkills'" src="./assets/img/down-arrow.png" alt="arrow-down">
        </div>

        <div class="forms">

        </div>

    <!-- </div> -->

    <app-my-skills class="section"></app-my-skills>
    <app-my-work class="section"></app-my-work>
    <app-about-me class="section"></app-about-me>
    <app-contact-me class="section"></app-contact-me>


</div>

