<div class="SectionContainer">

    <div class="textBackground">

    </div>

    <!-- <canvas id="canvas" class="canvas">

    </canvas> -->

    <!--this needs to be commented out if canvas is activated-->
    <div id="home" class="introduction">
        <!-- <div class="image-backgorund"></div> -->

        <div class="intro-content">
            <!-- <div class="wholeContent"> -->

            <!-- <div  class="image">

                </div> -->
            <img class="iamge" src="assets/img/me/profile-picture5.jpg" alt="">


            <div class="buttonAndText">
                <div class="intro-text">
                    <h1 class="my-introduction">
                        I'm&nbsp;Chris&nbsp;Aidelsburger. A&nbsp;Frontend&nbsp;Developer based&nbsp;in&nbsp;Germany
                    </h1>
                </div>

                <p id="introText" class="hideText">I am very passionated about coding and open for exciting projects. If you wanna work together, hit me up!</p>
                <!-- <button id="contactButton" onclick="location.href='#contactMe'">Contact me</button> -->
            </div>

            <!-- </div> -->
        </div>

        <div class="scrollDownArrow">
            <img onclick="location.href='#mySkills'" src="./assets/img/arrow-down.png" alt="arrow-down">
        </div>

        <div class="forms">

        </div>
    </div>


    <app-my-skills class="section"></app-my-skills>
    <app-my-work class="section"></app-my-work>
    <app-about-me class="section"></app-about-me>
    <app-contact-me class="section"></app-contact-me>


</div>