.mySkills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1A1A;
    color: white;

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
}

.subject-container {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.skillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    flex-wrap: wrap;
    height: 80vh;
    width: 55vw;

    p {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

}

.singleSkill {
    height: 17%;
    width: 22%;
    background-color: white;
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: center;
}

.skillTitles {
    height: 50px;
    position: absolute;
    bottom: 20px;
}

.imageContainer {
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
    height: 75px;
    width: 75px;
    background-color: white;
    position: absolute;
    top: -20;
    top: -33px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 35px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 340px) {

    .subject-container {
        height: auto;
    }
    .skillContainer {
        width: 100vw;
        gap: 12px;
    }

    .singleSkill {
        width: 29%;

        p {
            margin-top: 30px;
            font-size: 14px;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 340px) {

    .subject-container {
        height: auto;
    }
    
    .skillContainer {
        width: 100vw;
        gap: 12px;
    }

    .singleSkill {
        width: 29%;

        p {
            margin-top: 30px;
            font-size: 14px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}