.mySkillsContent {
    background-color: #1A1A1A;
    color: white;
    scroll-snap-align: start;

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
}

.mySkills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.subject-container {
    padding-top: 32px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.skillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    flex-wrap: wrap;
    height: 55vh;
    width: 55vw;

    p {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

}

.singleSkill {
    height: 17%;
    width: 22%;
    background-color: white;
    border-radius: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateX(-150px) translateY(-75px);
    opacity: 0;

}

.skillTitles {
    height: 50px;
    position: absolute;
    bottom: 20px;
}

.imageContainer {
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
    height: 75px;
    width: 75px;
    background-color: white;
    position: absolute;
    top: -20;
    top: -33px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 35px;
    }
}

.animateSkills {
    animation: flyingSkills 200ms ease;
    transform: translateX(0px) translateY(0px);
        opacity: 1;
}

@keyframes flyingSkills {
    0% {
        transform: translateX(-150px) translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0) translateY(0px);
        opacity: 1;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 280px) {

    .subject-container {
        height: auto;
    }

    .skillContainer {
        width: 100%;
        gap: 12px;
    }

    .singleSkill {
        width: 28%;
        height: 16%;

        p {
            margin-top: 30px;
            font-size: 13px;
        }
    }

    .imageContainer {
        height: 60px;
        width: 60px;

        img {
            height: 35px;
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .skillContainer {
        width: 85%;
        gap: 24px;

        p {
            margin-top: 22px;
            font-size: 16px;
        }
    }

    .singleSkill {
        height: 18%;
        ;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .skillContainer {
        width: 75%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .skillContainer {
        width: 60%;

        p {
            font-size: 18px;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .skillContainer {
        width: 50%;
        gap: 32px;
    }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    .skillContainer {
        width: 40%;
    }
}