.mySkills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1A1A1A;
    color: white;

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
}

.subject-container {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.skillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    flex-wrap: wrap;
    height: 80vh;
    width: 55vw;
     
     p {
         color: black;
         font-family: 'Roboto', sans-serif;
         font-size: 18px;
         font-weight: 400;
     }

}

.singleSkill {
    height: 22%;
    width: 22%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.skillTitles {
    height: 50px;
    position: absolute;
    bottom: 20px;
}

.imageContainer {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background-color: white;
    position: absolute;
    top: -20;
    top: -33px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 35px;
    }
}