::-webkit-scrollbar {
    width: 10px;
    /* Mostly for vertical scrollbars */
    height: 10px;
    /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #eeba2b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Foreground */
    background: #ffd561;

}

::-webkit-scrollbar-track {
    /* Background */
    background: #1A1A1A;
}


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.dont-show {
    display: none;
}

span {
    display: inline-block;
    opacity: 0;
    transition: all 0.25s ease;
    transform: translateY(40px);
}

span.fake {
    color: white;
    opacity: 1;
    transform: translateY(0px);
}

span.addColor {
    animation: addColor 1s ease-in-out;
}

span.addFullColorYellow {
    color: #fcf82d;
}

@keyframes addColor {
    0% {
        color: white;
    }

    50% {
        color: #eeba2b;
    }

    100% {
        color: white;
    }
}

span.addFullColor {
    color: #eeba2b;
}

.showButton {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.mat-focus-indicator {
    background-color: transparent;
    display: flex !important;
    justify-content: center !important;
    padding-right: 0 !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-menu-content {
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 12;
    border-left: 1px solid #FA2759;
    z-index: 10000;
    padding-bottom: 0 !important;
}

.cdk-overlay-connected-position-bounding-box {
    top: 88px !important;
}

.mat-menu-panel {
    min-height: 0px !important;
}

/* Extra small devices (phones, 280px and down) */
@media only screen and (min-width: 280px) {
    .mat-menu-content {
        padding: 0px !important;
        width: 130px;
    }

    span {
        font-size: 30px;
        padding-top: 6px;
    }

}

/* Extra small devices (phones, 350px and down) */
@media only screen and (min-width: 370px) {

    span {
        font-size: 36px;
    }

    mat-typography h1 {
        margin: 0 0 32px;
    }

}

/* Extra small devices (phones, 500px and down) */
@media only screen and (min-width: 500px) {

    span {
        font-size: 45px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .mat-menu-content {
        padding-right: 32px;
        width: 200px;
    }
}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (min-width: 992px) {

    span {
        font-weight: 400;
        font-size: 60px;
        padding-top: 30px;
    }
}

/* Large devices (landscape tablets, 1200px and up) */
@media only screen and (min-width: 1200px) {

    span {
        font-weight: 400;
        font-size: 65px;
        padding-top: 40px;
    }
}

/* Extra Large devices (landscape tablets, 1500px and up) */
@media only screen and (min-width: 1500px) {

    span {
        font-weight: 400;
        font-size: 80px;
        padding-top: 40px;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 940px) and (max-device-height: 500px) and (orientation: landscape) {
    span {
        font-size: 45px;
        padding-top: 0;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 700px) and (max-device-height: 500px) and (orientation: landscape) {
    span {
        font-size: 30px;
        padding-top: 0;
    }
}