body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.dont-show {
    display: none;
}

.mat-focus-indicator {
    background-color: transparent;
    // color: white;
    display: flex !important;
    justify-content: flex-end !important;
    padding-right: 0 !important;
    // opacity: 0.5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-menu-content {
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 12;
    border-left: 1px solid #FA2759;
    z-index: 10000;
}

.cdk-overlay-connected-position-bounding-box {
    top: 88px !important;
}

.mat-menu-panel {
    min-height: 0px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 340px) {
    .mat-menu-content {
        padding-right: 32px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 340px) {

    .mat-menu-content {
        padding-right: 32px;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .mat-menu-content {
        padding-right: 32px;
    }

}


