
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.dont-show {
    display: none;
}

span {
    font-size: 64px;
    padding-top: 18px;
    display: inline-block;
    opacity: 0;
    transition: all 0.25s ease;
    transform: translateY(40px);
}

span.fake {
    color: white;
    opacity: 1;
    transform: translateY(0px);
}

span.addColor {
    animation: addColor 1s ease-in-out;
}

span.addFullColorGreen {
    color: #2DFCD8;
}

@keyframes addColor {
    0% {
        color: white;
    }
    50% {
        color: #FA2759;
    }

    100% {
        color: white;
    }
}

span.addFullColor {
    color: #FA2759;
}

.showButton {
display: flex !important;
justify-content: center;
align-items: center;
    // animation: popButton 2s ease;
}

.mat-focus-indicator {
    background-color: transparent;
    // color: white;
    display: flex !important;
    justify-content: flex-end !important;
    padding-right: 0 !important;
    // opacity: 0.5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-menu-content {
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 12;
    border-left: 1px solid #FA2759;
    z-index: 10000;
}

.cdk-overlay-connected-position-bounding-box {
    top: 88px !important;
}

.mat-menu-panel {
    min-height: 0px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 340px) {
    .mat-menu-content {
        padding-right: 32px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 340px) {

    .mat-menu-content {
        padding-right: 32px;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .mat-menu-content {
        padding-right: 32px;
    }

}


